    nav.navbar.navbar-default{
    background-color: #081520;
    border-color: #2e6da4;
    margin-top: 10px;
}
  
  nav.navbar.navbar-default a {
    color: white;
  }
  
  li p.navbar-text, a.navbar-brand {
    color: white!important;
    font-weight: bolder;
  }
  
  footer.footer {
    background-color: #081520;
    border-color: #2e6da4;
    margin-top: 55px;
    color: white;
    border-radius: 5px;
  }
  
  footer.footer p {
    padding: 10px;
  }